Repository SSWU2024/SSWU2024-Frontend, pull requests merged in 2024-10, with the labels that each got.

#27 [ Mobile ] Works 뷰 퍼블리싱
  src/mobile/Common/Header.tsx
  src/mobile/Studio/page/StudioPage.tsx
  src/mobile/Works/page/WorksPage.tsx
Labels: 💚 Mobile, 🖼️ publishing

#28 [ Tablet ] 헤더, 푸터, 라우팅 설정
  src/App.tsx
  src/TabletRouter.tsx
  src/mobile/assets/icon/ic_listright.svg
  src/tablet/Common/Header.tsx
  src/tablet/Common/PageLayout.tsx
  src/tablet/Designer/page/DesignerPage.tsx
  src/tablet/Designers/page/DesignersPage.tsx
  src/tablet/Displays/page/DisplaysPage.tsx
  src/tablet/Main/page/MainPage.tsx
  src/tablet/Studio/page/StudioPage.tsx
  src/tablet/WorkDetail/page/WorkDetailPage.tsx
  src/tablet/Works/page/WorksPage.tsx
  src/tablet/assets/icon/btn_hamburger.svg
  src/tablet/assets/icon/btn_insta.svg
  src/tablet/assets/icon/btn_logo_tablet.svg
  src/tablet/assets/icon/index.ts
  src/tablet/assets/image/img_bg1_tablet.png
  src/tablet/assets/image/img_bg2_tablet.png
  src/tablet/assets/image/img_bg3_tablet.png
  src/tablet/assets/image/img_poster_tablet.png
  src/tablet/assets/image/index.ts
Labels: 🖼️ publishing, 🩵 Tablet

#30 [ Tablet ] Works 뷰 퍼블리싱
  src/mobile/Works/page/WorksPage.tsx
  src/styles/theme.ts
  src/tablet/Studio/page/StudioPage.tsx
  src/tablet/Works/page/WorksPage.tsx
Labels: 🖼️ publishing, 🩵 Tablet

#36 [ Mobile / Tablet ] 스튜디오 상세 퍼블리싱
  src/App.tsx
  src/constants/studioDetail.ts
  src/mobile/Common/Header.tsx
  src/mobile/Studio/components/StudioInfo.tsx
  src/mobile/Studio/components/WorkList.tsx
  src/mobile/Studio/page/StudioPage.tsx
  src/mobile/Studio/types/studioType.ts
  src/mobile/Works/page/WorksPage.tsx
  src/mobile/assets/image/img_symbol_mobile_design_thinking.png
  src/mobile/assets/image/img_symbol_mobile_information.png
  src/mobile/assets/image/img_symbol_mobile_motion.png
  src/mobile/assets/image/img_symbol_mobile_space.png
  src/mobile/assets/image/img_symbol_mobile_space_direction.png
  src/mobile/assets/image/img_symbol_mobile_visualA.png
  src/mobile/assets/image/img_symbol_mobile_visualB.png
  src/mobile/assets/image/index.ts
  src/mobile/constants/WORKS.ts
  src/styles/theme.ts
  src/tablet/Common/Header.tsx
  src/tablet/Studio/page/StudioPage.tsx
  src/tablet/Works/page/WorksPage.tsx
Labels: 💚 Mobile, 🖼️ publishing, 🩵 Tablet

#37 [ Mobile / Tablet ] Designers 퍼블리싱
  src/constants/studioDetail.ts
  src/mobile/Designers/components/DesignerList.tsx
  src/mobile/Designers/page/DesignersPage.tsx
  src/mobile/assets/image/img_bg1_mobile.png
  src/mobile/assets/image/img_bg3_mobile.png
  src/mobile/assets/image/index.ts
  src/mobile/constants/DESIGNERS.ts
  src/styles/theme.ts
  src/tablet/Designers/page/DesignersPage.tsx
Labels: 💚 Mobile, 🖼️ publishing, 🩵 Tablet

#38 [ Mobile / Tablet ] Designer 뷰 퍼블리싱
  src/App.tsx
  src/mobile/Designer/components/DesignerInfo.tsx
  src/mobile/Designer/components/Works.tsx
  src/mobile/Designer/page/DesignerPage.tsx
  src/mobile/constants/DESIGNER_DETAIL.ts
  src/tablet/Designer/page/DesignerPage.tsx
  src/utils/.gitkeep
  src/utils/updateStudioUrl.ts
Labels: 💚 Mobile, 🖼️ publishing, 🩵 Tablet

#42 [ Mobile / Tablet ] Display 탭 퍼블리싱
  src/MobileRouter.tsx
  src/TabletRouter.tsx
  src/mobile/Display/page/DisplayPage.tsx
  src/mobile/Displays/page/DisplaysPage.tsx
  src/mobile/constants/DISPLAY.ts
  src/tablet/Display/page/DisplayPage.tsx
  src/tablet/Displays/page/DisplaysPage.tsx
Labels: 💚 Mobile, 🖼️ publishing, 🩵 Tablet

#43 [ Mobile / Tablet ] 작품 상세 퍼블리싱
  src/mobile/Studio/components/WorkList.tsx
  src/mobile/WorkDetail/components/DesignerList.tsx
  src/mobile/WorkDetail/components/WorkImage.tsx
  src/mobile/WorkDetail/components/WorkInfo.tsx
  src/mobile/WorkDetail/page/WorkDetailPage.tsx
  src/mobile/WorkDetail/types/WorkDetailType.ts
  src/mobile/constants/WORK_DETAIL.ts
  src/mobile/constants/WORK_DETAIL_DESIGNER.ts
  src/tablet/WorkDetail/components/DesignerList.tsx
  src/tablet/WorkDetail/components/WorkImage.tsx
  src/tablet/WorkDetail/components/WorkInfo.tsx
  src/tablet/WorkDetail/page/WorkDetailPage.tsx
Labels: 💚 Mobile, 🖼️ publishing, 🩵 Tablet

#40 [ Desktop ] api 연결
  src/constants/queryKeys.ts
  src/desktop/Designer/components/DesignerWorks.tsx
  src/desktop/Designer/pages/DesignerPage.tsx
  src/desktop/Designer/types/designerType.ts
  src/desktop/Designers/components/TotalDesigners.tsx
  src/desktop/Designers/type/designersType.ts
  src/desktop/Studio/components/TotalWorks.tsx
  src/desktop/Studio/types/studioType.ts
  src/desktop/WorkDetail/components/Designers.tsx
  src/desktop/WorkDetail/components/DetailImages.tsx
  src/desktop/WorkDetail/pages/WorkDetailPage.tsx
  src/desktop/WorkDetail/types/workDetailTypes.ts
  src/libs/apis/getDesignerDetial.ts
  src/libs/apis/getDesigners.ts
  src/libs/apis/getDisplay.ts
  src/libs/apis/getMainBanner.ts
  src/libs/apis/getMainInteracion.ts
  src/libs/apis/getStudioWorks.ts
  src/libs/apis/getWorkDesigners.ts
  src/libs/apis/getWorkDetail.ts
  src/libs/hooks/useGetDesignerDetail.ts
  src/libs/hooks/useGetDesigners.ts
  src/libs/hooks/useGetDisplay.ts
  src/libs/hooks/useGetMainBanner.ts
  src/libs/hooks/useGetMainInteraction.ts
  src/libs/hooks/useGetStudioWorks.ts
  src/libs/hooks/useGetWorkDesigners.ts
  src/libs/hooks/useGetWorkDetail.ts
Labels: 🩷 Desktop, 🧬 api

#50 [ Common ] Vercel 새로고침 오류
  vercel.json
Labels: 🚨 hotfix

#54 [ Common ] 폰트 적용 / theme 확인
  src/styles/GlobalStyles.tsx
Labels: ☁️ qa

#55 [ Mobile / Tablet ] 스크롤 애니메이션 삭제
  src/App.tsx
  src/mobile/Common/PageLayout.tsx
  src/mobile/Designer/components/DesignerInfo.tsx
  src/mobile/Designer/components/Works.tsx
  src/mobile/Designer/page/DesignerPage.tsx
  src/mobile/Designers/components/DesignerList.tsx
  src/mobile/Designers/page/DesignersPage.tsx
  src/mobile/Display/page/DisplayPage.tsx
  src/mobile/Studio/components/StudioInfo.tsx
  src/mobile/Studio/components/WorkList.tsx
  src/mobile/Studio/page/StudioPage.tsx
  src/mobile/WorkDetail/components/DesignerList.tsx
  src/mobile/WorkDetail/components/WorkImage.tsx
  src/mobile/WorkDetail/components/WorkInfo.tsx
  src/mobile/Works/page/WorksPage.tsx
  src/tablet/Common/PageLayout.tsx
  src/tablet/Designer/page/DesignerPage.tsx
  src/tablet/Designers/page/DesignersPage.tsx
  src/tablet/Display/page/DisplayPage.tsx
  src/tablet/Studio/page/StudioPage.tsx
  src/tablet/WorkDetail/components/DesignerList.tsx
  src/tablet/WorkDetail/components/WorkImage.tsx
  src/tablet/WorkDetail/components/WorkInfo.tsx
  src/tablet/WorkDetail/page/WorkDetailPage.tsx
  src/tablet/Works/page/WorksPage.tsx
Labels: ☁️ qa

#57 [ Hotfix ] 각종 에러 해결
  src/App.tsx
  src/desktop/Common/Footer.tsx
  src/desktop/Designer/pages/DesignerPage.tsx
  src/desktop/Designers/components/TotalDesigners.tsx
  src/desktop/Designers/pages/DesignersPage.tsx
  src/desktop/Studio/components/TotalWorks.tsx
  src/desktop/WorkDetail/components/Designers.tsx
  src/desktop/WorkDetail/pages/WorkDetailPage.tsx
  src/desktop/Works/components/HoveredStudioImg.tsx
  src/desktop/Works/components/Studios.tsx
Labels: 🩷 Desktop, 🚨 hotfix, ☁️ qa

#63 [ Desktop / Tablet / Mobile ] Display 모달 구현
  index.html
  package.json
  pnpm-lock.yaml
  src/assets/ic_done.svg
  src/assets/ic_left_arrow.svg
  src/assets/ic_right_arrow.svg
  src/assets/index.ts
  src/components/.gitkeep
  src/components/DisplayModal.tsx
  src/components/ModalPortal.tsx
  src/desktop/Designer/pages/DesignerPage.tsx
  src/desktop/Displays/components/DisplayImages.tsx
  src/desktop/Displays/pages/DisplayPages.tsx
  src/mobile/Display/page/DisplayPage.tsx
  src/mobile/Display/types/imageType.ts
  src/tablet/Common/Header.tsx
  src/tablet/Display/page/DisplayPage.tsx
Labels: 🩷 Desktop, 💚 Mobile, 🩵 Tablet, 🦀 feat

#67 [ Hotfix ] 더미데이터로 되어있는 부분 -> api 연결
  src/desktop/Designer/components/DesignerWorks.tsx
  src/desktop/Designer/pages/DesignerPage.tsx
  src/desktop/Studio/components/TotalWorks.tsx
  src/desktop/Studio/pages/StudioPage.tsx
  src/desktop/WorkDetail/pages/WorkDetailPage.tsx
Labels: 🩷 Desktop, 🚨 hotfix

#66 [ QA ] QA 반영
  src/desktop/Designer/pages/DesignerPage.tsx
  src/desktop/Designers/pages/DesignersPage.tsx
  src/desktop/Displays/pages/DisplayPages.tsx
  src/desktop/Main/components/HorizontalImage.tsx
  src/desktop/Main/components/InteractiveViews.tsx
  src/desktop/Main/pages/MainPage.tsx
  src/desktop/Studio/pages/StudioPage.tsx
  src/desktop/Works/components/HoveredStudioImg.tsx
  src/desktop/Works/pages/WorksPage.tsx
Labels: 🩷 Desktop, ☁️ qa

#69 [ Desktop / Tablet ] 이미지 업로드 플로우 api 구현
  src/DesktopRouter.tsx
  src/TabletRouter.tsx
  src/constants/queryKeys.ts
  src/desktop/ImagePost/components/PostInfo.tsx
  src/desktop/ImagePost/pages/ImagePostPage.tsx
  src/libs/apis/getPresignedUrl.ts
  src/libs/apis/postImgCommon.ts
  src/libs/apis/putImageS3.ts
  src/libs/hooks/useGetPresignedUrl.ts
Labels: 🩷 Desktop, 🩵 Tablet, 🧬 api

#71 [ Desktop / Tablet ] POST API 구현
  src/DesktopRouter.tsx
  src/TabletRouter.tsx
  src/desktop/DesignerPost/pages/DesignerPostPage.tsx
  src/desktop/DisplayPost/pages/DisplayPostPage.tsx
  src/desktop/DisplayWorkPost/pages/DisplayWorkPostPage.tsx
  src/desktop/WorkPost/pages/WorkPostPage.tsx
  src/libs/apis/postDesignerInfo.ts
  src/libs/apis/postDisplayImg.ts
  src/libs/apis/postDisplayWork.ts
  src/libs/apis/postWorkContent.ts
Labels: 🩷 Desktop, 🩵 Tablet, 🧬 api

#73 [ QA ] 메인 화면 수정 및 각종 QA 반영
  src/components/DisplayModal.tsx
  src/desktop/Designer/pages/DesignerPage.tsx
  src/desktop/Main/components/HorizontalImage.tsx
  src/desktop/Main/components/InteractiveViews.tsx
  src/desktop/Works/components/HoveredStudioInfo.tsx
  src/desktop/assets/image/img_people_1.png
  src/desktop/assets/image/img_people_2.png
Labels: 🩷 Desktop, ☁️ qa

#74 [ Tablet / Mobile ] api 연결
  src/desktop/Designer/pages/DesignerPage.tsx
  src/desktop/Designers/components/TotalDesigners.tsx
  src/mobile/Designer/components/DesignerInfo.tsx
  src/mobile/Designer/components/Works.tsx
  src/mobile/Designer/page/DesignerPage.tsx
  src/mobile/Designers/components/DesignerList.tsx
  src/mobile/Studio/components/WorkList.tsx
  src/mobile/Studio/page/StudioPage.tsx
  src/mobile/WorkDetail/components/DesignerList.tsx
  src/mobile/WorkDetail/components/WorkImage.tsx
  src/mobile/WorkDetail/components/WorkInfo.tsx
  src/mobile/WorkDetail/page/WorkDetailPage.tsx
  src/mobile/WorkDetail/types/WorkDetailType.ts
  src/mobile/Works/page/WorksPage.tsx
  src/mobile/constants/DESIGNERS.ts
  src/tablet/Designer/page/DesignerPage.tsx
  src/tablet/Studio/page/StudioPage.tsx
  src/tablet/WorkDetail/components/DesignerList.tsx
  src/tablet/WorkDetail/components/WorkImage.tsx
  src/tablet/WorkDetail/components/WorkInfo.tsx
  src/tablet/WorkDetail/page/WorkDetailPage.tsx
  src/tablet/Works/page/WorksPage.tsx
  src/utils/renderEngName.ts
Labels: 💚 Mobile, 🩵 Tablet, 🧬 api
