Repository SSWU2024/SSWU2024-Frontend, pull requests merged in 2024-11, with the labels that each got.

#80 [ QA ] 3차
  src/desktop/Designer/pages/DesignerPage.tsx
  src/desktop/Designers/components/TotalDesigners.tsx
  src/desktop/Studio/components/TotalWorks.tsx
  src/desktop/WorkDetail/components/Designers.tsx
  src/desktop/WorkDetail/components/Details.tsx
  src/mobile/Designer/page/DesignerPage.tsx
  src/mobile/Designers/components/DesignerList.tsx
  src/mobile/Studio/components/WorkList.tsx
  src/mobile/WorkDetail/components/WorkInfo.tsx
  src/mobile/WorkDetail/page/WorkDetailPage.tsx
  src/tablet/Designer/page/DesignerPage.tsx
  src/tablet/WorkDetail/components/WorkInfo.tsx
  src/tablet/WorkDetail/page/WorkDetailPage.tsx
Labels: 🩷 Desktop, 💚 Mobile, 🩵 Tablet, ☁️ qa

#79 [ QA ] 3차
  src/desktop/Designer/components/DesignerWorks.tsx
  src/desktop/Designer/pages/DesignerPage.tsx
  src/desktop/Main/components/InteractiveViews.tsx
  src/desktop/WorkDetail/components/Designers.tsx
  src/desktop/WorkDetail/pages/WorkDetailPage.tsx
  src/mobile/Designer/components/Works.tsx
  src/mobile/WorkDetail/page/WorkDetailPage.tsx
  src/mobile/WorkDetail/types/WorkDetailType.ts
  src/styles/GlobalStyles.tsx
  src/tablet/Designers/page/DesignersPage.tsx
  src/tablet/WorkDetail/page/WorkDetailPage.tsx
  src/utils/setImages.ts
Labels: 🩷 Desktop, 💚 Mobile, 🩵 Tablet, ☁️ qa

#84 [ Desktop ] Main 수정
  src/desktop/Main/components/HorizontalImage.tsx
  src/desktop/Main/components/InteractiveViews.tsx
Labels: 🩷 Desktop

#90 [ Tablet/Mobile ] Display api 연결
  src/desktop/Displays/constants/studioList.ts
  src/mobile/Display/page/DisplayPage.tsx
  src/tablet/Display/page/DisplayPage.tsx
Labels: 💚 Mobile, 🩵 Tablet, 🧬 api
